.all{
    border: 1.5px solid rgba(128, 128, 0, 0.374);
    width: 12rem;
    height: 18rem;
    margin: 1rem 0;
    background-color: rgba(128, 128, 0, 0.249);
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .6rem;
    width: 9rem;
    height: 11rem;
}

.info {
    font-size: 12px;
    margin-top: 1rem;
    text-align: center;
    color: black;
}