.allC {
    height: 100%;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(128, 128, 0, 0.249);
}

.img{
    width: 10rem;
    height: 10rem;
}

.div1{
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 2px 6px 2px rgb(185, 184, 184);
    background-color: white;
    width: 12rem;
    height: 27rem;
    margin: 1rem;
}

.div2{
    height: 14rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 2px 6px 2px rgb(185, 184, 184);
    background-color: white;
    font-size: 12px;
}

.div3{
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 2px 6px 2px rgb(185, 184, 184);
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    height: 8rem;
    font-size: 12px;
}

.div4{
    display: inline;
    width: 50%;
}
