.all{
    display: flex;
    background-color: rgba(128, 128, 0, 0.249);
    justify-content: space-between;
}

.form{
    margin: 2rem;
    width: 26rem;
    height: 6rem;
    border: 1px solid black;
}

.info2{
    display: flex;
}

.datos{
    display: flex;
}


@media screen and (max-width: 600px) {
    .all{
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: center;
        margin: auto;
        margin-top: 2em;
    }
}