.contenedor {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all {
    width: 50%;
    height: 30em;
    background-color: rgba(128, 128, 0, 0.249);
}

.title {
    text-align: center;
    margin: 2em 0;
}

.form {
    display: grid;
    justify-content: center;
}

.inputs {
    margin-bottom: 1em;
    gap: 1em;
    display: flex;
    justify-content: space-between;
}

input{
    border:0;
    background: none;
    border: none;
    padding: .2em;
    border-bottom: 2px solid rgba(128, 128, 0, 0.249);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.contenedorBTN {
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
}

.button {
    background-color: rgba(128, 128, 0, 0.249);
    border: none;
    padding: .6em 1em;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    gap: 1em;
}

.back {
    text-align: center;
}
