.all{
    width: 50%;
    height: 30rem;
    margin-left: 25%;
    margin-top: 5%;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 2px 6px 2px rgb(185, 184, 184) ;
    text-align: center;
    /* background-color: rgba(255, 166, 0, 0.651);
    opacity: 80%; */
}
    
.form{
    display: grid;
    width: 60%;
    margin-left: 16%;
    padding: 2rem 2rem 1rem 2rem;
}
    
.title{
    margin-top: 2rem;
    cursor: default;
}

.links{
    display: flex;
    margin-top: .5rem;
    justify-content: center;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.label{
    margin-bottom: .2rem;
    display: flex;
    justify-content: flex-start;
}

.input{
    margin-bottom: .8rem;
}
