.all{
    display: flex;
    align-items: center;
    width: 90%;
    height: 4rem;
    margin-left: 5%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: rgba(255, 166, 0, 0.76);
    box-shadow: 0 2px 6px 2px rgb(185, 184, 185) ;
}

.title {
    margin-left: 2rem;
    font-size: 20px;
}

.links{
    display: flex;
    width: 50%;
    margin-left: 45%;
    cursor: pointer;
}

.info{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.btns{
    width: 40%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}
