.all{
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: rgba(255, 166, 0, 0.76);
}

.links{
    display: flex;
    width: 50%;
    margin-left: 50%;
    cursor: pointer;
}

.info{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.btns{
    width: 40%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}
