.all{
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 3em;
    gap: 2em
}

.img{
    width: 34%;
}

.title{
    text-align: center;
}

@media screen and (max-width: 600px) {
    .all{
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: center;
        margin: auto;
        margin-top: 2em;
    }
    .img{
        width: 45%;
    }
}