.contenedor {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all {
    width: 50%;
    height: 30em;
    background-color: rgba(128, 128, 0, 0.249);

}

.title {
    text-align: center;
    margin: 2em 0;
}

.form {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    margin: 4em 0;
}

.contenedorINPUTS {
   display: grid;
    justify-content: center;
}

.inputs {
    margin-bottom: 1em;
    gap: 1em;
    display: flex;
    justify-content: space-between;
}

.contenedorBTN {
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
}

.enterBTN {
    background-color: rgba(128, 128, 0, 0.249);
    border: none;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.back {
    text-align: center;
}

