.almostAll{
    display: flex;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.form{
    border: 1px solid black;
    width: 56%;
    padding: 1rem;;
}

.info{
    margin: 1rem;
}