.all{
    display: flex;
    justify-content: center;
    gap: 6em;
    margin-top: 4em;
    margin-bottom: 2em;
}

.img{
    width: 30%;
}

@media screen and (max-width: 600px) {
    .all{
        gap: 2em;
        margin-top: 2em;
    }
    .img{
        width: 40%;
    }
}
