.all{
    width: 50%;
    height: 20rem;
    margin-left: 25%;
    margin-top: 3rem;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 2px 6px 2px rgb(185, 184, 184);
    text-align: center;
    background-color: rgba(128, 128, 0, 0.249);
}

.title{
    margin-top: 1rem;
}

.links{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-top: 5rem;
}

.btn{
    margin-top: 6rem;
}

.button {
    background-color: white;
    border: 1.5px solid rgba(128, 128, 0, 0.468);;
    padding: .6em 1em;
    cursor: pointer;
}
